body{
    margin:0;
    padding:0;
    background-color:whitesmoke;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    width: 100vw;
    height: 50px;
    background-color: whitesmoke;
    box-shadow: grey 0 5px 5px;
} 

#top_section{
    width: 100%;
    height:50px;
}

#logo{
    float: left;
    width: 200px;
    height: 50px;
    margin-left: 20px;
    
    color:black;
    font-size: 20px;
    
}
.seperation_line{
    width: 100%;
    height: 2px;
}

#content{
    width: 1024px;
    height: 90vh;
    margin: auto;
}

.vertical-spacer{
    width: auto;
    height: 15px;
}

#content #title{
    font-size: 20px;
}

/* BEGINNING OF MAIN MENU */
#selection_section{
    margin: 15px auto;
    width: 500px;
    height:35px;

}

#selection_section ul{

    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#selection_section li{

    display: inline;
}




/* END OF MAIN MENU */

#div_js{
    float:left;
    width: 500px;
    height: 200px;
}

#div_wasm{
    float:right;
    width: 500px;
    height: 200px;
}

#seperation{
    float:left;
    width:10vw;
    height:90vh;
}

.card{
    float:left;
    width: 500px;
    height:200px;
    /* box-shadow: grey 0 5px 5px;
    overflow: hidden; */
}

.output{
    float:left;
    width: 200px;
    height: 200px;
}

.card .card_title{
    margin-top: 4px;;
    width: 100%;
    height: 40px;
    font-size: 25px;
    text-align: center;
    color:white;
}

.card .card_data{
    font-size: 14px;
    text-align: center;
    height:100px;
    color:white;
    background-color: purple;
}

.card .card_nav{
    float:left;
    width: 100%;
    height: 60px;

}

.card .card_nav ul{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.card .card_nav li{
    display: inline;
}

.card .card_info{
    font-size: 10px;
}
.output_title{
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    height: 20px;
    color: white;
    background-color: black;
}
.text_area{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    height:150px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    border: none;
    border-radius: 0 0 15px 15px;
    resize: none;;
}

#main_nav{
    width: 1024px;
    height: 60px;
    border-radius: 5px;
    background-color: white;
    box-shadow: grey 0 5px 5px;
}

.menu_section_container{
    padding:1px;
    margin: auto;
    width: 900px;
    height: 55px;
}
.menu_section{
    float:left;
    margin: 7px 25px;
    width: 175px;
    height: 40px;
}

#graph{
    width: 100%;
    height: 250px;
    border-radius: 5px;
    background-color: white;
    box-shadow: grey 0px 5px 5px;
}

.select-css{
    border-radius: 5px;
    border: black 2px;
    display: block;
    font-size: 15px;
    font-size: bold;
    color: grey;
    width: 100%;
    border: none;
    height: 35px;

}

.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: black;
}
.select-css:focus {
    border-color: yellow;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}

#menu_start{
    border-radius: 5px;
    width: 100%;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
}

#menu_start:hover{
    background-color: lightgrey;
}

.left-data{
    float: left;
    width: 250px;
    height: 100px;
}
.right-data{
    float: right;
    width: 250px;
    height: 100px;
}

.icon{
    font-size: 15px;
    font-weight: bold;
    color: white
    ;
}
/*W3 Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 13px;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.data_row{
    width: 100%;
    height: 20px;
}
.small_vertical_spacer{
    height: 5px;
    width: 100%;
}

.run_isolated{
    margin: 5px auto;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    /* color: rgba(116, 19, 242,1); */
    color: white;
    background-color: rgba(101, 21, 212, 1);
}

.run_isolated:hover{
    color: black;
    background-color: white;
}